@charset "UTF-8";

.hidden { display: none;}

body {
    background-color: #9BB731;
    margin: 0 auto;
    padding: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

#container {
    background-color: white;
    margin:0 auto;
    padding: 58px 66px 58px 66px;
    border-radius: 50px;
    border: thin 1px white;
    max-width: 1004px;
    box-shadow: 0 1px 30px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,30,0.1);
    margin-top: 110px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    margin: 0;
    padding: 0;
}

#navigation {
    width: 340px;
    height: 30px;
    padding: 0;
    margin: 0;
}

#navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigation ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-bottom: 5px solid white;
    transition: all .2s ease-in-out;
}

#navigation ul li a:hover {
    color: #000;
    border-bottom: 5px solid #9BB731;
    transition: all .2s ease-in-out;
}

.open {
    margin: 0;
    padding: 0;
}

.mainCon {
    width: 850px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.role {
font-size: 40px;
color: #707070;
text-align: center;
}

.name {
    font-size: 100px;
    color: #9BB731;
    font-weight: bold;
    margin: 20px 0px;
}

.footer {
    font-size: 16px;
    color: #707070;
    text-align: center;
}

.workData {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}